.btn {
    padding: 10px 15px;

    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px rgb(3, 94, 136);

    color: #fff;
    text-transform: uppercase;
    

    transition: all 0.25s;
}

.btn-create {
    background-color: rgb(60, 165, 214);
}

.btn-remove {
    margin-left: 25px;
    background-color: rgb(141, 31, 31);
}

.btn:hover {
    cursor: pointer;
    filter: saturate(170%);
}

.number-elements {
    margin-left: 10px;
    border: 1px solid gold;
    border-radius: 5px;

    text-align: center;
}

.new-elements {
    min-height: 25vh;
    margin-top: 25px;

    background-color: lightgreen;
}

.elem {
    padding: 10px;
    font-size: 20px;
    border: 2px dashed gold;
}
.row-form{
    line-height: 150%;
}
.form{
    min-width: 400px;
    max-width: 600px;
    padding: 15px;

}
.group-form{
    border: 2px solid rgb(211, 14, 14);
    background-color: rgb(253, 189, 13);
}
.group-form__create {
    margin-bottom: 15px;
}
.group-title{
    text-transform: uppercase;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: rgb(50, 6, 173)
}
.form-label{
    text-transform: uppercase;
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(18, 194, 106)
}
.form .text-container {
    display: block;
    width: 75%;
    min-height: 150px;
    border: 1px solid gold;
}

.form .btn-create {
    background-color: rgb(60, 165, 214);
    margin: 10px 0;
}

.form .btn-remove {
    margin: 10px 0;
    background-color: rgb(141, 31, 31);
}